MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=toor
MONGO_INITDB_DATABASE=gateway
MONGO_INITDB_USER=gateway
MONGO_INITDB_PWD=secret
MONGO_CONN=mongodb://172.17.0.1:27017
MONGO_COLLECTION=user
USER_GRPC_SERVICE=localhost:50051
